# VSCode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
# Local History for <a href="https://www.jcchouinard.com/python-with-vscode/">Visual Studio Code</a>
.history/
 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
  
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
 
# PyBuilder
.pybuilder/
target/

# PyTest cache
.pytest_cache/

# Build
build/
dist/